<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO | HOME.MX</title>
    <link rel="stylesheet" href="~/Content/style/Registro/RegistroStyle.css">
</head>

<body>

    <div class="login-box">
        <img src="~/Images/Registro/logo-mx.png" class="avatar" alt="Avatar Image">
        <h1>REGISTRATE</h1>
        <form>
            <!-- USERNAME INPUT -->
            <label for="Nombre">Nombre(s)</label>
            <input type="text" placeholder="Ejemplo: Aaron Mateo">
            <!-- PASSWORD INPUT -->
            <label for="Apellido">Apellido(s)</label>
            <input type="text" placeholder="Ejemplo: Rodriguez Mendoza">

            <label for="Correo">Correo</label>
            <input type="email" placeholder="ejemplo@gmail.com">

            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password">

            <label for="Telefono">Teléfono</label>
            <input type="phone" placeholder="1234567890">

            <input type="submit" value="Registro">
            <a href="~/Account/Login">¿Ya tienes una cuenta?</a><br>
            <a href="~/PaginaPrincipal/Index">Regresar al Inicio</a>
        </form>
    </div>
</body>

</html>